.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:24px;
  padding-bottom:4px;
  font-weight: 700;
  color:#333;
  .menuBarAndItem{
    position: relative;
  }
  .menuBarItem{
    margin-right:48px;
  }
  .menuItems{
    display: flex;
    flex-direction: row;
    position:absolute;
    z-index: 10;
    .menuItem{
      .menuItemTitle{

      }
      .subMenu{

      }
      .subMenuIco{

      }
      .subMenuValue{

      }
    }
  }


}
