.info{
  width:504px;
  .name{
    padding-top:10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    color:#333;
  }
  .desc{
    padding-top:7px;
    padding-bottom:20px;
    font-size:14px;
    color:#999;
  }
  .details{
    border:1px solid #dedede;
    padding:13px 8px;
    font-size: 13px;
    color:#666;
    background: #f5f3ef;
    .priceLine{
      .pLabel{
        padding-right:24px;
      }
      .pIcon{
        padding-right: 2px;
        font-size: 18px;
        font-weight: 700;
        color:#d7282d;
      }
      .pPrice{
        padding-right:8px;
        font-size: 28px;
        font-weight: 700;
        color:#d7282d;
      }
      .pImg{
        position: relative;
        top:-8px;
        padding-right:2px;
        width:14px;
        height:14px;
      }
      .pVip{
        position: relative;
        top:-7px;
        padding-right:8px;
        color:#333;
      }
      .pOpen{
        position: relative;
        top:-7px;
        a{
          color:#333;
        }
        a:hover{
          color:#b4a078;
        }
      }
    }
  }

}
